<header id="first">
  <div class="header-content">
    <div class="inner">
      <h1>Got a <i class="ion-social-bitcoin"></i> to Invest?</h1>
      <h5 class="wow fadeIn text-normal wow fadeIn">A new, innovative way of micro-investment with Bitcoin.</h5>
      <a href="#two" class="btn btn-primary-outline btn-xl page-scroll wow fadeInUp m-t-3">Get Started</a>
    </div>
  </div>
</header>
<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      ☰
    </button>
    <a class="navbar-brand page-scroll" href="#first">.Megane</a>
    <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#two">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#one">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#last">Contact</a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a class="nav-link page-scroll" data-toggle="modal" title="A free Bootstrap theme" href="#aboutModal">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section id="two" class="bg-alt">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-xs-center">
      <h2 class="m-t-0 text-primary">Features</h2>
      <hr class="primary">
    </div>
  </div>
</div>
<div class="container wow fadeInUp">
  <div class="row">
    <div class="col-lg-4 col-md-4 text-xs-center">
      <div class="feature">
        <i class="icon-lg ion-earth wow fadeIn" data-wow-delay=".1s"></i>
        <h6 class="text-uppercase">No Border</h6>
        <p class="text-muted m-b-0">Mel illud populo convenire ea. Quis aliquando definitionem sea an. Usu an alienum assentior, has in dicunt oportere.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 text-xs-center">
      <div class="feature">
        <i class="icon-lg ion-social-bitcoin wow fadeInUp"></i>
        <h6 class="text-uppercase">With Bitcoin</h6>
        <p class="text-muted m-b-0">Mel illud populo convenire ea. Quis aliquando definitionem sea an. Usu an alienum assentior, has in dicunt oportere.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 text-xs-center">
      <div class="feature">
        <i class="icon-lg ion-ios-locked wow fadeIn" data-wow-delay=".1s"></i>
        <h6 class="text-uppercase">It's Safe</h6>
        <p class="text-muted m-b-0">Mel illud populo convenire ea. Quis aliquando definitionem sea an. Usu an alienum assentior, has in dicunt oportere.</p>
      </div>
    </div>
  </div>
</div>
</section>

<section id="one">
<div class="container wow fadeInUp">
  <div class="row">
    <div class="col-lg-12 text-xs-center">
      <h2 class="m-t-0 text-primary">Companies</h2>
      <hr class="primary">
    </div>
    <p class="lead">
      What you encounter first in <a href="#">.Megane</a> is tons of Africa Startups. Browse the list below to find a company to invest.
    </p>
  </div>
<!-- card-group -->
  <div class="card-group">
    <!-- card -->
    <div class="card">
      <img class="card-img-top img-fluid" src="https://cdn-images-1.medium.com/max/2000/1*Kp_1wo-7a2HRD1n9u7symA.jpeg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">SuitesVR.com</h4>
        <p class="card-text">First-ever innovative startup utilizing VR technology for people to try suits on even without visiting any store.</p>
      </div>
    </div>
    <!-- card -->
    <div class="card">
      <img class="card-img-top img-fluid" src="https://news.bitcoin.com/wp-content/uploads/2016/02/Africa.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Bitcoin & Company</h4>
        <p class="card-text">A type of digital currency in which encryption techniques are used to regulate the generation of units of currency and verify the transfer of funds, operating independently of a central bank.</p>
      </div>
    </div>
    <!-- card -->
    <div class="card">
      <img class="card-img-top img-fluid" src="https://news.bitcoin.com/wp-content/uploads/2016/03/africa-bitcoin.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Blockchanin Limited</h4>
        <p class="card-text">The blockchain is a technology that underlies bitcoin—conceived in 2008 and first implemented in 2009—where it serves as the public ledger for all transactions.</p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <!-- card -->
    <div class="card">
      <img class="card-img-top img-fluid" src="http://png-2.vector.me/files/images/7/1/712296/global_vision_2020_thumb.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Company A</h4>
        <p class="card-text">Similique voluptatibus vis ei. Unum affert partem ne vim. Te mei dolores omittantur, per in mucius utamur consulatu. Mel ea impedit efficiantur comprehensam, alienum salutandi adolescens sea cu. Cu mel.</p>
      </div>
    </div>
    <!-- card -->
    <div class="card">
      <img class="card-img-top img-fluid" src="http://png-2.vector.me/files/images/7/1/712296/global_vision_2020_thumb.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">B Limited</h4>
        <p class="card-text">Similique voluptatibus vis ei. Unum affert partem ne vim. Te mei dolores omittantur, per in mucius utamur consulatu. Mel ea impedit efficiantur comprehensam, alienum salutandi adolescens sea cu. Cu mel.</p>
      </div>
    </div>
    <!-- card -->
    <div class="card">
      <img class="card-img-top img-fluid" src="http://png-2.vector.me/files/images/7/1/712296/global_vision_2020_thumb.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">C.Co.Ltd.,</h4>
        <p class="card-text">Similique voluptatibus vis ei. Unum affert partem ne vim. Te mei dolores omittantur, per in mucius utamur consulatu. Mel ea impedit efficiantur comprehensam, alienum salutandi adolescens sea cu. Cu mel.</p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <!-- card -->
    <div class="card">
      <img class="card-img-top img-fluid" src="http://png-2.vector.me/files/images/7/1/712296/global_vision_2020_thumb.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Company A</h4>
        <p class="card-text">Similique voluptatibus vis ei. Unum affert partem ne vim. Te mei dolores omittantur, per in mucius utamur consulatu. Mel ea impedit efficiantur comprehensam, alienum salutandi adolescens sea cu. Cu mel.</p>
      </div>
    </div>
    <!-- card -->
    <div class="card">
      <img class="card-img-top img-fluid" src="http://png-2.vector.me/files/images/7/1/712296/global_vision_2020_thumb.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">B Limited</h4>
        <p class="card-text">Similique voluptatibus vis ei. Unum affert partem ne vim. Te mei dolores omittantur, per in mucius utamur consulatu. Mel ea impedit efficiantur comprehensam, alienum salutandi adolescens sea cu. Cu mel.</p>
      </div>
    </div>
    <!-- card -->
    <div class="card">
      <img class="card-img-top img-fluid" src="http://png-2.vector.me/files/images/7/1/712296/global_vision_2020_thumb.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">C.Co.Ltd.,</h4>
        <p class="card-text">Similique voluptatibus vis ei. Unum affert partem ne vim. Te mei dolores omittantur, per in mucius utamur consulatu. Mel ea impedit efficiantur comprehensam, alienum salutandi adolescens sea cu. Cu mel.</p>
      </div>
    </div>
  </div>
<!-- /card-group -->
</div>
</section>

<aside class="bg-alt">
  <div class="container text-xs-center">
    <div class="call-to-action">
      <h2 class="text-primary">Get Started</h2>
      <a href="http://www.bootstrapzero.com" target="ext" class="btn btn-primary-outline btn-lg wow flipInX text-uppercase">Free Demo</a>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row">
          <h6 class="wide-space text-xs-center text-uppercase">.Megane is Built thanks to these Sponsors</h6>
          <div class="col-sm-3 col-xs-6 text-xs-center">
            <i class="icon-lg ion-social-bitcoin" title="html 5"></i>
          </div>
          <div class="col-sm-3 col-xs-6 text-xs-center">
            <i class="icon-lg ion-social-github" title="sass"></i>
          </div>
          <div class="col-sm-3 col-xs-6 text-xs-center">
            <i class="icon-lg ion-social-apple" title="javascript"></i>
          </div>
          <div class="col-sm-3 col-xs-6 text-xs-center">
            <i class="icon-lg ion-social-chrome-outline" title="css 3"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
<section id="last">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-xs-center">
        <h2 class="margin-top-0 wow fadeIn">Get in Touch</h2>
        <hr class="primary">
        <p>We love feedback. Fill out the form below and we'll get back to you as soon as possible.</p>
      </div>
      <div class="col-lg-10 offset-lg-1 text-xs-center">
        <form class="contact-form row">
          <div class="col-md-4">
            <label></label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-md-4">
            <label></label>
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <div class="col-md-4">
            <label></label>
            <input type="text" class="form-control" placeholder="Phone">
          </div>
          <div class="col-md-12">
            <label></label>
            <textarea class="form-control" rows="9" placeholder="Your message here.."></textarea>
          </div>
          <div class="col-md-4 offset-md-4">
            <label></label>
            <button type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="ion-android-arrow-forward"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <h6 class="text-uppercase">.Megane</h6>
        <ul class="list-unstyled">
          <li><a href="https://medium.com/@bootply/bootstrap-4-whats-new-visual-guide-c84dd81d8387" target="ext">What's New</a></li>
          <li><a href="http://codeply.com/tagged/bootstrap-4" target="ext">Examples</a></li>
          <li><a href="http://getbootstrap.com" target="ext">Official</a></li>
          <li><a href="http://www.codeply.com/go/p/bootstrap_4.0.alpha" target="ext">Playground</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-3 column">
        <h6 class="text-uppercase">About</h6>
        <ul class="list-unstyled">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Delivery Information</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3 column">
        <h6 class="text-uppercase">Stay Posted</h6>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>
          </div>
        </form>
      </div>
      <div class="col-xs-12 col-sm-3 text-xs-right">
        <h6 class="text-uppercase">Follow</h6>
        <ul class="list-inline">
          <li class="list-inline-item"><a rel="nofollow" href="" title="Twitter"><i class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;</li>
          <li class="list-inline-item"><a rel="nofollow" href="" title="Facebook"><i class="icon-lg ion-social-facebook-outline"></i></a></li>
        </ul>
      </div>
    </div>
    <br>
    <span class="pull-right text-muted small"><a href="http://bootstrap4.guide">Made by .Megane</a> ©2016 Company</span>
  </div>
</footer>
<div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-xs-center">
        <img src="//placehold.it/1200x700/222?text=..." id="galleryImage" class="center-block img-fluid">
        <p>
          <br>
          <button class="btn btn-primary btn-lg" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
        </p>
      </div>
    </div>
  </div>
</div>
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-xs-center">
        <h2 class="text-xs-center">.Megane</h2>
        <h6 class="text-xs-center">A convenient, innovative way of investment</h6>
        <p class="text-xs-center">
          Sed illum sonet tacimates et. Ut nec eruditi nusquam consequat. Duo ipsum saepe cu, elit officiis dignissim ex his, cu quem debet maluisset nec. Brute evertitur nec in, vis in.        </p>
        <p class="text-xs-center"><a href="http://bootstrap4.guide">Get Started</a></p>
        <br>
        <button class="btn btn-primary btn-lg" data-dismiss="modal" aria-hidden="true"> OK </button>
      </div>
    </div>
  </div>
</div>
<div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body text-xs-center">
        <h2 class="text-xs-center">Nice Job!</h2>
        <p class="text-xs-center">You clicked the button, but it doesn't actually go anywhere because this is only a demo.</p>
        <p class="text-xs-center"><a href="https://medium.com/@bootply/bootstrap-4-whats-new-visual-guide-c84dd81d8387">Learn More</a></p>
        <br>
        <button class="btn btn-primary btn-lg" data-dismiss="modal" aria-hidden="true">OK <i class="ion-android-close"></i></button>
      </div>
    </div>
  </div>
</div>
